/* src/tailwind.css */

/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS global nếu cần */
* {
  margin: 0;
  padding: 0;
}

.content-app {
  height: 100%;
  width: 100%;
}
